/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body;
    color: #dddddd;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    @apply font-heading;
}

  
html {
    scroll-behavior: smooth;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#00bcd9, #00a0b8);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#00bcd9, #00a0b8)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}
html, body { 
    height: 100%; 
    margin: 0;
}
